.header1{
    color: blue;
    border-bottom: 3px solid black;
    width: fit-content;
    padding: auto;
}

.header2{
    color: brown;
    font-family: "Lucida Console", "Courier New", monospace;
}

html{
    background-color:antiquewhite;
}

.description{
    font-family: Arial, Helvetica, sans-serif;
}